{% extends "base.html" %}


{% block content %}
    <main class="container mt-4">
        <div class="bg-light text-dark p-3 mb-5 rounded-3 shadow-lg">
            <h1 class="display-4 text-center mb-0">University Contact Information</h1>
        </div>
        
        <div class="card mt-4">
            <div class="card-body">
                <h4>Campus Emergency Services</h4>
                <p>University Police: (956)882-4911</p>
                <p>Student Health Center: (956)665-2511</p>
                <hr>
                <h4>General University Services</h4>
                <p>Counseling Center: (956)665-2574</p>
                <p>IT Help Desk: (956)665-2020</p>
                <p>UCentral: (956)882-4026</p>
            </div>
        </div>
    </main>
{% endblock content %}